body {
    background-color: burlywood;
    }
    header {
    color:rgb(80, 48, 23)
    }
    p::first-letter {font-size: 150%}
    h1 {
        color:rgb(99, 7, 7)
    }
    h2 {
        color:brown
    }
    h3 {
    color: rgb(104, 50, 7)
    }
    .bright {
    color: rgb(6, 75, 10)
    }
    .orange-text {
        color:rgb(252, 87, 11)
    }
    img {
    border: 2px dashed orangered;
    }
    .important {
    font-weight: bold;
    }
    article a:visited {
        color:rgb(183, 243, 186)
    }
    article a: hoover {
        text-decoration: underline;
    }
    a[href="https://www.onthisday.com/events/february/16"] {
        background-color: rgba(204, 89, 23, 0.699);
    } 